---
import IconCode from "./icons/IconCode.astro";
import IconWebsite from "./icons/IconWebsite.astro";
import IndividualProject from "./ui/IndividualProject.astro";

const projects = [
  {
    title: "Alpinum Acounting AG | Webpage",
    description:
      "Website for Alpinum Accounting AG, a consulting company in accounting and finance.",
    tags: [
      {
        name: "Website",
        icon: IconWebsite,
        color: "bg-blue-600 text-white",
      },
      {
        name: "Laravel",
        icon: IconWebsite,
        color: "bg-[#ff2d20] text-white",
      },
      { name: "JavaScript", color: "bg-[#f7df1e] text-black" },
    ],
    image: "/images/prueba.png", // pon aquí la ruta de tu imagen
    link: "https://alpinum.example.com",
  },
  {
    title: "Population and Transfer | PPL Ecosystem",
    description:
      "Design and development of a microservice for the Ecosystem of Persons Deprived of Liberty.",
    tags: [
      {
        name: "Website",
        icon: IconWebsite,
        color: "bg-blue-600 text-white",
      },
      {
        name: "Laravel",
        icon: IconWebsite,
        color: "bg-[#ff2d20] text-white",
      },
      { name: "JavaScript", color: "bg-[#f7df1e] text-black" },
    ],
    image: "/images/prueba.png", // pon aquí la ruta de tu imagen
    link: "",
  },
];
---

<section id="projects" class="mt-28 md:mt-40 scroll-mt-24">
  <h2
    class="text-white font-bold text-3xl md:text-4xl flex items-center gap-2 mb-10"
  >
    <IconCode /> Projects
  </h2>

  <div class="flex flex-col gap-12">
    {
      projects.map((project) => (
        <IndividualProject
          image={project.image}
          title={project.title}
          tags={project.tags}
          description={project.description}
          link={project.link}
        />
      ))
    }
  </div>
</section>
