---
import IconWebsite from "../icons/IconWebsite.astro";

export interface Tag {
  name: string;
  icon?: any;
  color: string;
}

export interface Props {
  image: string;
  title: string;
  tags: Tag[];
  description: string;
  link: string;
}

const { image, title, tags, description, link } = Astro.props;
---

<div class="flex flex-col md:flex-row items-center gap-6 p-6 rounded-xl">
  <div class="md:w-1/2">
    <img src={image} alt={title} class="rounded-2xl shadow-md w-90 h-auto" />
  </div>

  <div class="md:w-1/2 text-white">
    <h3 class="text-xl md:text-2xl font-semibold mb-2">
      {title}
    </h3>
    <div class="flex flex-wrap gap-2 mb-4">
      {
        tags.map(({ name, icon: Icon, color }) => (
          <span
            class={`flex items-center gap-1 text-xs px-2 py-1 rounded-full font-medium ${color}`}
          >
            {Icon && <Icon className="w-4 h-4" />}
            {name}
          </span>
        ))
      }
    </div>

    <p class="text-sm md:text-base text-gray-300 mb-4">
      {description}
    </p>

    {
      link && (
        <a
          href={link}
          target="_blank"
          class="px-4 py-1 bg-gray-700 hover:bg-gray-600 text-white text-sm font-medium transition flex items-center w-fit rounded-full"
        >
          <IconWebsite />
          Preview
        </a>
      )
    }
  </div>
</div>
