---
import IconWebsite from "../icons/IconWebsite.astro"; 
export interface Tag {
  name: string;
  icon?: any;
  color: string;
}

export interface Link {
  href: string;
  label: string;
  icon?: any;
}

export interface Props {
  image: string;
  title: string;
  tags: Tag[];
  description: string;
  links: Link[];
}

const { image, title, tags, description, links } = Astro.props;
---

<div class="flex flex-col md:flex-row items-center gap-6 rounded-xl">
  <!-- Imagen con hover -->
  <div class="md:w-1/2 group overflow-hidden rounded-2xl">
    <img
      src={image}
      alt={title}
      class="rounded-2xl object-contain w-full h-auto transition-transform duration-300 group-hover:scale-105"
    />
  </div>

  <!-- Info -->
  <div class="md:w-1/2 text-white">
    <!-- Título -->
    <h3 class="text-xl md:text-2xl font-semibold mb-2">
      {title}
    </h3>

    <!-- Tags -->
    <div class="flex flex-wrap gap-2 mb-4">
      {
        tags.map(({ name, icon: Icon, color }) => (
          <span
            class={`flex items-center gap-1 text-xs px-2 py-1 rounded-full font-medium ${color}`}
          >
            {Icon && <Icon className="w-4 h-4" />}
            {name}
          </span>
        ))
      }
    </div>

    <!-- Descripción -->
    <p class="text-sm md:text-base text-gray-300 mb-4">
      {description}
    </p>

    <!-- Links -->
    {
      links && links.length > 0 && (
        <div class="flex flex-wrap gap-3">
          {links.map(({ href, label, icon: Icon }) => (
            <a
              href={href}
              target="_blank"
              class="px-4 py-1 bg-gray-700 hover:bg-gray-600 text-white text-sm md:text-md font-medium transition flex items-center gap-2 w-fit rounded-full"
            >
              {Icon && <Icon className="w-4 h-4" />}
              {label}
            </a>
          ))}
        </div>
      )
    }
  </div>
</div>
